body{
    font-family: Arial;
    background:#f2f2f2;
}
.container, .form-box{
    width:400px;
    margin:auto;
    background:white;
    padding:20px;
    margin-top:60px;
    border-radius:8px;
    text-align:center;
}
input, textarea, select{
    width:100%;
    margin-bottom:10px;
    padding:8px;
}
button{
    width:100%;
    background:green;
    color:white;
    padding:10px;
    border:none;
}
.btn{
    display:block;
    background:blue;
    color:white;
    padding:10px;
    border-radius:5px;
    text-decoration:none;
}
