body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    padding: 0;
    margin: 0;
}

.container{
    width: 450px;
    background: white;
    margin: 30px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #bbb;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

input[type=text], input[type=password], input[type=file]{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button{
    background: #0066ff;
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0047b3;
}

table{
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th{
    background: #0066ff;
    color: white;
}

a{
    text-decoration: none;
}
